header{
	height:10vh;
	height:10vh;
	background-color: transparent
}
body{
    margin: 0;
    padding: 0;
    height: 170vh;
    justify-content: center;
    background-image: url('../z1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


	li {
	    color: #888888;
	    list-style-type: none;
	    white-space: nowrap;
	}

	ul{
		float:left;
		list-style-type: none;
		margin-top: 25px;
		margin-left: 75px;
	    white-space: nowrap;
	}

	ul li{
			display: inline;
	}

	ul li a{
		text-decoration: none;
		color:#fff;
		padding: 5px 12px;
		border: 1px solid #fff;
		transition: 0.7s ease;

	}

	ul li a:hover{
		background-color: #fff;
		color: #000;


	}

  .slider{
    width: 200px;
    height: 200px;
    border-radius: 1px;
    overflow: hidden;
		margin-left:95px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
 -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


  .slides{
    width: 500%;
    height: 200px;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }

  .slide img{
    width:200px;
    height: 200px;
  }

  /*css for manual slide navigation*/

  .navigation-manual{
    position: absolute;
    width: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

  }

  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background: #40D3DC;
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -16.5%;
  }

  #radio3:checked ~ .first{
    margin-left: -40%;
  }

  #radio4:checked ~ .first{
    margin-left: -60%;

  }

  #radio5:checked ~ .first{
    margin-left: -80%;

  }

  #radio6:checked ~ .first{
    margin-left: -100%;

  }
  #radio7:checked ~ .first{
    margin-left: -120%;

  }


  /*css for automatic navigation*/

  .navigation-auto{
    position: absolute;
    display: center;
    width: 200px;
    justify-content: center;
    margin-top: 700px;
    display:none;
  }

  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }

  .navigation-auto div:not(:last-child){
    margin-right: 100px;
  }

  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }

  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }

  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }

  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background: #40D3DC;

  }  #radio6:checked ~ .navigation-auto .auto-btn6{
    background: #40D3DC;

  }  #radio7:checked ~ .navigation-auto .auto-btn7{
    background: #40D3DC;
  }

  .snapsss{
  position: relative;
  text-align: center;
color:white;
font-family:Arial, Helvetica, sans-serif;
font-size: 5vw;
margin-top: 120px;
padding-bottom: 30px;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
 -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@media only screen and (min-width:768px) {

  li {
      color: #888888;
      list-style-type: none;
      white-space: nowrap;
  }

  ul{
  	float:left;
  	list-style-type: none;
  	margin-top: 25px;
  	margin-left: 75px;
      white-space: nowrap;
  }

  ul li{
  		display: inline;
  }

  ul li a{
  	padding: 5px 20px;
  	border: 1px solid #fff;
  	transition: 0.7s ease;

  }

  ul li a:hover{
  	background-color: #fff;
  	color: #fff;
  }

  .snapsss{
    font-size: 2vw;

		}

	  .slider{
	    width: 2000px;
	    height: 2000px;
      align-items: center;
			resize:none;
	    overflow: hidden;
	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	 -ms-animation: fadein 2s; /* Internet Explorer */
	  -o-animation: fadein 2s; /* Opera < 12.1 */
	     animation: fadein 2s;
      }

      .navigation-auto{
        position: absolute;
        display: center;
        width: 200px;
        justify-content: center;
        margin-top: 1900px;
        display:none;
      }

      .navigation-manual{
        position: absolute;
        width: 200px;
        margin-top: 500px;
        margin-left: 400px;
        display: flex;
        justify-content: center;
    
      }

      .slide img{
        width: 600px;
        height: 600px;
        align-items: center;
        margin-left: 250px;
      }
    
}
