header{
	height:10vh;
}
body{
    margin: 0;
    padding: 0;
    height: 170vh;
    justify-content: center;
    background-image: url('../z1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


  li {
    color: transparent;
    list-style-type: none;
    white-space: nowrap;
}

ul{
	float:left;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 75px;
}

ul li{
		display: inline;
}

ul li a{ 
	text-decoration: none;
	color:#ccc;
	padding: 5px 20px;
	border: 1px solid #ccc;
	transition: 0.7s ease;

}

ul li a:hover{
	background-color: #ccc;
	color: #000;

}

  .slider{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    margin-top:120px;
    margin-left:400px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
 -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
  
  
  .slides{
    width: 500%;
    height: 600px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width:600px;
    height: 600px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 600px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;

  }

  #radio5:checked ~ .first{
    margin-left: -80%;

  }
  
  #radio6:checked ~ .first{
    margin-left: -100%;

  }
  #radio7:checked ~ .first{
    margin-left: -120%;

  }
  
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 700px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background: #40D3DC;
  }  #radio6:checked ~ .navigation-auto .auto-btn6{
    background: #40D3DC;
  }  #radio7:checked ~ .navigation-auto .auto-btn7{
    background: #40D3DC;
  }

  .snapsss{
  position: center;
  text-align: center;
color:white;
font-family:Arial, Helvetica, sans-serif;
font-size: 1.6vw;
margin-top: 120px;
margin-right: 120px;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
 -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
  